@import url('../assets/bootstrap/bootstrap.min.css');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}

.app{   
    width: 100vw;
    height: 100vh;
}
.overlay{
    background: url('../img/bg-fundo.jpg') no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;   
    left: 0;
    overflow: hidden; 
}

.overlay img{
    object-fit: contain;
    object-position: center;
}
.search-container{
    background: #ffffffa9;
    height: 130px;
    transition: ease-in .2s;
}

.search-container.active{
    background: #000000c7;
}

.search-input{
    min-width: 100%;
    height: 50px;
    padding-left: 20px;
    padding-right: 60px;
}

.search-btn{
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
}

.list-movies{
    margin-top: 130px;
    padding-top: 20px;
}

.card {
    flex: 0 0 calc(50% - 10px); /* 2 por linha com espaço entre */
    box-sizing: border-box;
    margin-bottom: 10px;
    box-shadow: 0px 0px 12px 6px #000000a4; 
    border: none;   
}

.card::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    box-shadow: inset 0px 0px 8px 2px #000000a4;
}

@media (max-width: 600px) {
    .card {
        flex: 0 0 calc(45% - 5px); /* Em telas pequenas, 1 por linha */
    }
}